@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@charset "UTF-8";
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: -2px;
  right: 0;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul {
  margin-top: 1px;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  width: 200px;
  background: #4ABDAC;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a {
  display: block;
  padding: 15px 20px;
  color: #4ABDAC;
  text-decoration: none;
  text-transform: uppercase;
}
#cssmenu > ul {
  width: 200px;
}
#cssmenu ul ul {
  width: 200px;
}
#cssmenu > ul > li > a {
  border-right: 4px solid #4ABDAC;
  color: #4ABDAC;
}
#cssmenu > ul > li > a:hover {
  color: #4ABDAC;
}
#cssmenu > ul > li.active a {
  background: #4ABDAC;
}
#cssmenu > ul > li a:hover,
#cssmenu > ul > li:hover a {
  background: #4ABDAC;
}
#cssmenu li {
  position: relative;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#cssmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#cssmenu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#cssmenu ul ul {
  border: 1px solid #4ABDAC;
}
#cssmenu ul ul a {
  font-size: 12px;
  color: #4ABDAC;
}
#cssmenu ul ul a:hover {
  color: #4ABDAC;
}
#cssmenu ul ul li {
  border-bottom: 1px solid #0CBB13;
}
#cssmenu ul ul li:hover > a {
  background: #4ABDAC;
  color: #4ABDAC;
}
#cssmenu.align-right > ul > li > a {
  border-left: 4px solid #4ABDAC;
  border-right: none;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right li {
  text-align: right;
}
#cssmenu.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#cssmenu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#cssmenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#cssmenu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}


.container{
  overflow:hidden;
   max-width: 100%;
   max-height: 100%;
   margin: auto;
   text-align: center;
   padding: 15%;
}
.container1{
    margin:0%;
  overflow:visible;
}
.container2{
    margin:auto;
  background:#4ABDAC;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#4ABDAC;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#4ABDAC;
  color:#4ABDAC;
  margin-top:10px;
  margin-bottom:10px;
}

.light{
  padding:15px;
  background:#4ABDAC;
  color:#4ABDAC;
  margin-top:15px;
  margin-bottom:10px;
  margin-left:0px;
}

header{
  background:#4ABDAC;
  color:#4ABDAC;
  padding-top:30px;
  border-bottom:#4ABDAC 3px solid;
  animation-name: animu;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}
@keyframes animu {
 0% {
    background-color: #4ABDAC;
  }
  50% {
    background-color: #4ABDAC
  }
  100 {
    background-color: #4ABDAC;
  }
  transition: transform 0.2s;
}

header a{
  color:#4ABDAC;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
  color: #4ABDAC;
}



header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#4ABDAC;
  font-weight:bold;
}

header a:hover{
  color:#4ABDAC;
  font-weight:bold;
  -ms-transform: scale(2.1); /* IE 9 */
  -webkit-transform: scale(2.1); /* Safari 3-8 */
  transform: scale(2.1); 
}


#showcase{
  background:url('../img/creem.jpg') no-repeat 0 -400px;
  text-align:center;
  
  color:#4ABDAC;
  transition: background-image 5000s ease-in-out;
  animation: slider 60s linear;
  animation-iteration-count: infinite;
  min-height: 157;
  min-width: 732;
  padding: 0%;
}
@keyframes slider {
  0%{
    transform: translate3d(0, -10px, 0);
  }
  33%{
    transform: translate3d(0, 0, 0);
	background:url('../img/creem2.jpg') no-repeat 0 -350px;
  }
    66%{
    transform: translate3d(0, -10px, 0);
		background:url('../img/creem3.jpg') no-repeat 0 -400px;
  }
  100%{
    transform: translate3d(0, -10px, 0);
  }
}
#inga{
}
#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  transition: transform 0.2s;
}
.showcase h1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

#showcase p{
  font-size:20px;
}

#boxesr{
  margin-top:20px;
}

#boxesr .boxr{
  float:left;
  text-align: center;
  width:30%;
  padding:50px;
}


#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:10%;
  padding:50px;
}

#grad {
    background: purple; 
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); 
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); 
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); 
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); 
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
#boxes .box img{
  width:100px;
  transition: transform 0.2s;
}
.box img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
#boxesr .boxr img{
  width:100px;
  -webkit-animation: rotation 7s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


aside#sidebox{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebox .quote input, aside#sidebox .quote textarea{
  width:90%;
  padding:30px;
}


article#main-c{
  float:left;
  width:65%;
}


ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#4ABDAC;
}


div.terms{
    display:block;
    text-align: right;
    width:100%;
    background:#4ABDAC;
}
footer{
  padding:20px;
  margin-top:50px;
  color:#ffffff;
  background:#F7B733;
  text-align: center;
}

.center-fit {
   max-width: 100%;
   max-height: 100%;
   margin: 10%;
   
   
   
   
   
   
   
 .sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background:#4ABDAC;
  background-color: #4ABDAC;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #4ABDAC;
  display: block;
}

.sidenav a:hover {
  color: #4ABDAC;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}